<form action="/updatebooks" method="POST">
    <input type="hidden" name="Id" value="<%=book.Id %>" />
    Name:<input type="text" name="Name" value="<%=book.Name %>" /><br/>
    Phone:<input type="text" name="Phone" value="<%=book.Title %>" /><br/>
    <input type="submit" value="save" />
</form>